---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---

@import 'settings';

/*
 * css styles go here
 */
 
body {

  font-family: $font-family;
  color: $japanese-indigo;
  padding: 0;
  margin: 0;
  font-size: 20px;

}

.headshot{
  grid-area: image;
  width: 110px;
  height: 110px;
  border-radius: 5px;
  transform: translate(0%,10%);

}

img{
  max-width: 800px;
  max-height: 600px;
}

#nav{

  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
  width: auto;

  a{
    padding-left: 15px;
  }
}

.container {

  padding: 10px;
  margin: 10px;
  max-width: 50rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;

}

a, a:visited {

  color: $japanese-indigo;
  text-decoration: none;
 

}

li, ul{

  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

}

.post-date{
  color: grey;
}

.post{
  h1{
    color: $japanese-indigo !important;
  }
  #read{
    color: $green-sheen;
  }
  #read:hover{
    color: $buff;
  }
}


.post-title{

  font-weight: bold;
  font-size: 30px;

} 

.post-date {

  display: block;
  margin-top:  -1.5rem;
  margin-bottom: 1rem;

}

a:hover {

  color: $buff;

}

#link{
  color: $green-sheen;
}
#link:hover{
  color: $buff;
  text-decoration: underline;
}

#header {
  margin-top: 5%;
  margin-bottom: 40px;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image big" "image small";
  border-bottom: 2px solid $buff;
}

#header .big {
  grid-area: big;
  font-size:   2.5em;
  font-weight: bold;
  color: $japanese-indigo;
}

#header .small {
  grid-area: small;
  font-size: 100%;
  color: $green-sheen;

}

#footer {

  text-align:  center;
  padding-top: 20%;

}


